.App {
  display: grid;
  padding: 1em;
  gap: 1rem;
  /* Mobile view */
  grid-template-areas:
    'a'
    'b'
    'c';
}

@media only screen and (min-width: 768px) {
  /* Desktop view: */
  .App {
    grid-template-areas:
      'a a'
      'b c';
    grid-template-columns: 250px 1fr;
  }
}

.app-title {
  grid-area: a;
  text-align: center;
}

.phone-list,
.phone-detail {
  border: 1px solid black;
  border-radius: 1em;
}

.phone-list {
  grid-area: b;
  padding: 1em;
}

.phone-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.phone-list li {
  color: steelblue;
  text-decoration: underline;
  cursor: pointer;
}

.phone-detail {
  grid-area: c;
  display: flex;
  gap: 1em;
  padding: 1em;
}

.phone-detail img {
  width: 20em;
}

.phone-detail span,
.phone-detail p {
  color: gray;
}

.phone-detail > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
